<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite"
       parallel="methods"
       thread-count="2">
	<listeners>
		<listener class-name="com.automation.listeners.ScreenshotListener"/>
		<listener class-name="com.automation.listeners.RetryTransformer"></listener>
	</listeners>
    <test name="SeleniumTests">
        <classes>
        		<class name= "com.automation.tests.suiteHooks"/>
            <class name="com.automation.tests.LoginTest"/>
            <class name="com.automation.tests.SearchTest"/>
        </classes>
    </test>

</suite>